
body {
    background-color: white;
    
}

.jumbotron
{
    background-color: aquamarine;     
}


.myStyle
{
    background-image: url('../o-COAL-HARBOUR-VANCOUVEr.jpg');
    width: 900px;
    color: white;
    font: bold;
    padding-right: 300px; 
    height: 550px;
}

.row
{
    width: 1000px
}
