
body {

    background-color: white;
    
    
}

.container-fluid
{
    color: #c7c5c5;
    background-image: url('../maxresdefalt.jpg');
    background-repeat: no-repeat;
    margin-left: 5px;
}

.jumbotron 
{
    color: white;
    background-image: url('../tokyo-street-at-night-high-quality-wallpaper.jpg');
    background-repeat: no-repeat;
    width: 100%;   
}

.col-lg-3
{
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 13px;
     text-align: left;
     color:white;
     margin-top:10px;
}

.flightCostStyle
{
    margin-left: 5px;
    font-weight: bold;
    
}
.transportsStyle
{
    margin-left: 30px;
    font-weight: bold;

}

.daycostParagraph
{
     font-weight: bold;
}

.description
 {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right:30%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 50px;
 }

h2
{
    color: red;
    font: bold;
    font-size: 18px;
}

.col-lg-12
{
    margin-top: 20px;
}

.chartContainer
{
    background-color:white;
}
