
body {

    background-color: white;
    
}

.container-fluid
{
  
}
.jumbotron
{
   color: white;
   background-color: #555151
}


.myStyle 
{
    background-color: blue;
    border-radius:4px,4px,4px,4px;
    width: 60%;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    height: 400px;
}

.description
 {
    color: black;
    font-size: 16px;
    font: bold;
    padding-bottom: 40px;
}

#chartContainer
{
    padding-left: 300px;     
}