
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Party Invitation</h2>
    <p>We're going to have a party! <br/>
    </p>

    <img src="~/images/download (1).jpg" />
    <br/>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</div>